<Bar Mode="BarMode.Horizontal" Style="background-color: #ECECEC">
    <BarEnd>
        <BarMenu>
            <Button Type="ButtonType.Link" To="/user-profile">

                <BarIcon IconName="IconName.UserCircle"></BarIcon>
                Jakub Podleś
            </Button>
            <Button Color="Color.Danger">
                <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.SignOutAlt"></BarIcon>
                Log Out
            </Button>


        </BarMenu>


    </BarEnd>


</Bar>