@inject NavigationManager NavigationManager
<AuthorizeView>
    <Authorized>
        <Button Type="ButtonType.Link" To="Identity/Account/Manage">

            Hello, @context.User.Identity.Name!
        </Button>
        <Button Color="Color.Danger" Type="ButtonType.Link" To="Identity/Account/Logout">
            <BarIcon IconName="Blazorise.Icons.FontAwesome.FontAwesomeIcons.SignOutAlt"></BarIcon>
            Log Out
        </Button>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>


    </NotAuthorized>
</AuthorizeView>
