<Card Margin="Margin.Is2.OnY">
    <CardHeader>
        Isue History
    </CardHeader>
    <CardBody>
        <Table>

            <TableBody>
                <TableRow>

                    <TableRowCell>Marek</TableRowCell>
                    <TableRowCell>issue closed</TableRowCell>
                    <TableRowCell>15/05/2021</TableRowCell>
                </TableRow>
                <TableRow>

                    <TableRowCell>Marek</TableRowCell>
                    <TableRowCell>issue changed</TableRowCell>
                    <TableRowCell>15/04/2021</TableRowCell>
                </TableRow>
                <TableRow>
                    <TableRowCell>Jacob</TableRowCell>
                    <TableRowCell>issue changed</TableRowCell>
                    <TableRowCell>15/03/2021</TableRowCell>
                </TableRow>
                <TableRow>

                    <TableRowCell>Larry</TableRowCell>
                    <TableRowCell>utowrzono zgłoszenie</TableRowCell>
                    <TableRowCell>12/02/2021</TableRowCell>
                </TableRow>
            </TableBody>
        </Table>
    </CardBody>
</Card>