@page "/project/{ProjectId:int}/dashboard"
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <Container Fluid="true" Padding="Padding.Is5.OnY" Margin="Margin.Is4.OnY" ElementId="dashboard">
            <Row>
                <Column ColumnSize="ColumnSize.Is6">
                    <Jumbotron Background="Background.Light">
                        <JumbotronTitle Size="JumbotronTitleSize.Is4">Witaj,  @context.User.Identity.Name</JumbotronTitle>
                        <JumbotronSubtitle>
                            @Name
                        </JumbotronSubtitle>
                        <Divider></Divider>
                        <Paragraph>
                            ID : @ProjectId
                        </Paragraph>
                        <Paragraph>
                            @Description
                        </Paragraph>
                    </Jumbotron>
                </Column>
                <Column ColumnSize="ColumnSize.Is6">
                    <Card Margin="Margin.Is4.FromBottom" Background="Background.Light">
                        <CardHeader>
                            <CardTitle>Your Tasks</CardTitle>
                        </CardHeader>

                        <CardBody>
                            <Chart @ref="yourTasksChart" Type="ChartType.PolarArea" TItem="int" />
                        </CardBody>
                    </Card>
                </Column>
            </Row>
            <Row>
                <Column ColumnSize="ColumnSize.Is3">
                    <Card Margin="Margin.Is4.FromBottom" Background="Background.Light">
                        <CardHeader>
                            <CardTitle>All Tasks Status In Projects</CardTitle>
                        </CardHeader>

                        <CardBody>
                            <Chart @ref="allTasksStatusInProjectChart" Type="ChartType.Doughnut" TItem="int" />
                        </CardBody>
                    </Card>
                </Column>
                <Column ColumnSize=" ColumnSize.Is3">
                    <Card Margin="Margin.Is4.FromBottom" Background="Background.Light">
                        <CardHeader>
                            <CardTitle>All Tasks In Project</CardTitle>
                        </CardHeader>

                        <CardBody>
                            <Chart @ref="allFeatureBugsInProjectChart" Type="ChartType.Pie" TItem="int" />
                        </CardBody>
                    </Card>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Card Background="Background.Light">
                        <CardHeader>
                            <CardTitle>Bugs By Priority</CardTitle>
                        </CardHeader>

                        <CardBody>
                            <Chart @ref="bugsPriorityChart" Type="ChartType.Bar" TItem="int" />
                        </CardBody>
                    </Card>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Card Background="Background.Light">
                        <CardHeader>
                            <CardTitle>Features By Priority</CardTitle>
                        </CardHeader>

                        <CardBody>
                            <Chart @ref="featuresPriorityChart" Type="ChartType.Bar" TItem="int" />
                        </CardBody>
                    </Card>
                </Column>
            </Row>
        </Container>

        <Button @onclick="GeneratePDF" Color="Color.Secondary" Float="Float.Right"> Generate PDF File</Button>

        @using Microsoft.JSInterop
        @inject IJSRuntime JS;
        @code{
            Snackbar PDFGenerated;
            public async void GeneratePDF()
            {
                await JS.InvokeVoidAsync("GeneratePDF");
                PDFGenerated.Show();
            }
        }

        <Snackbar @ref="PDFGenerated" Color="SnackbarColor.Success">
            <SnackbarBody>
                PDF file generated succesfully!
            </SnackbarBody>
        </Snackbar>
    </Authorized>
</AuthorizeView>