@page "/"

@inject ProtectedSessionStorage ProtectedSessionStore

<AuthorizeView>

    <NotAuthorized>
        <Container Margin="Margin.Is5.OnY"  Padding="Padding.Is5.OnY">
            <Row>
                  <Column ColumnSize="ColumnSize.Is4"></Column>
                    <Column ColumnSize="ColumnSize.Is4" TextAlignment="TextAlignment.Center">
                     <Title Style="color: #484848">
                        <BarIcon IconName="IconName.Bug" /> VirheBT
                     </Title>
                    </Column>
                     <Column ColumnSize="ColumnSize.Is4"></Column>
             
            </Row>
            <Row Padding="Padding.Is5.OnY">
                <Column ColumnSize="ColumnSize.Is2"></Column>
                <Column ColumnSize="ColumnSize.Is8">
                    <Card Style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <CardHeader>
                            <CardTitle Size="1" Alignment="TextAlignment.Center" Color="TextColor.Black50">
                                Welcome!
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <Row Margin="Margin.Is4.OnY">

                                <Column ColumnSize="ColumnSize.Is6">
                                    <Button Color="Color.Secondary" Type="ButtonType.Link" Size="Size.ExtraLarge"
                                            Style="width: 100%; height: 200px; padding:70px;" To="Identity/Account/Login">

                                        <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.SignInAlt"></Icon>
                                        Log In
                                    </Button>
                                </Column>
                                <Column ColumnSize="ColumnSize.Is6">
                                    <Button Color="Color.Secondary" Type="ButtonType.Link" Size="Size.ExtraLarge"
                                            To="Identity/Account/Register" Style="width: 100%;height: 200px;padding: 70px;">
                                        <Icon Name="IconName.UserPlus"></Icon>
                                        Register
                                    </Button>
                                </Column>
                            </Row>
                        </CardBody>
                    </Card>
                </Column>
                <Column ColumnSize="ColumnSize.Is2"></Column>
            </Row>
        </Container>
    </NotAuthorized>
    <Authorized>
        <Projects></Projects>
    </Authorized>
</AuthorizeView>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await ProtectedSessionStore.DeleteAsync("currentProject");
    }
}